{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<h2 class="mb-4">Produtos disponíveis</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
        <div class="col">
            <div class="card h-100 border-0 shadow-sm product-card">

                <!-- Imagem clicável -->
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top product-img">
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center bg-light product-img">
                            <span class="text-muted">Sem imagem</span>
                        </div>
                    {% endif %}
                </a>

                <div class="card-body d-flex flex-column">
                    <h6 class="card-title mb-1">{{ product.name }}</h6>

                    <small class="text-muted">
                        {{ product.category.name }}
                    </small>

                    <h5 class="mt-2 text-success fw-bold">
                        R$ {{ product.price }}
                    </h5>

                    <div class="mt-auto ">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-primary btn-sm w-100 mb-2">
                            Ver detalhes
                        </a>
                        <button class="btn btn-primary">
                            Adicionar ao carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<style>
.product-img {
    height: 200px;
    object-fit: cover;
}

.product-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
</style>

{% endblock %}
